@import "tailwindcss";

.cl-socialButtonsBlockButton {
  background-color: #FFFFFF !important;
  border: none !important;
  border-radius: 0.5rem !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.cl-socialButtonsBlockButton * {
  color: #071A52 !important;
}
.cl-socialButtonsBlockButton:hover {
  background-color: #F1F1F1 !important;
}
.cl-internal-b3fm6y,
.cl-footer,
.cl-footerAction {
  display: none !important;
}
